@keyframes zoomInCard {
    0% {
      transform: scale(0.95);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .gasCard {
    background-image: linear-gradient(to bottom, #000000, #221920, #332e42, #324868, #096788);
    border-radius: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    padding: 20px;
    color: white;
    animation: zoomInCard 0.5s ease-out;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .gasCard:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  }
  
  .gasCard__title {
    text-align: center;
  }
  
  .gasCard__title h1 {
    color: white;
    font-size: 1.2rem;
  }
  
  .gasCard__title h3 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
  
  .imgCard {
    width: 90%;
    height: 300px;
    margin: 0 auto;
    border-radius: 15px;
    object-fit: cover;
  }
  
  .containerListUl {
    color: white;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid white;
  }
  
  li span {
    list-style: none;
    margin: 0.5rem 0;
    font-size: 1.3rem;
    padding: 0.5rem;
  }
  
  .gasCard__list {
    border: 1px solid white;
    border-radius: 7px;
  }
  
  .gasCard__content {
    
  }
  