.Robot {
    position: absolute;
    display: none;
}

@media (min-width: 568px) {
    .Robot {
        width: 100%;
        display: block;
        right: 25vw;
        bottom: -30vh;
        display: block;
    }
}


