.footerContainer{
    background-color: #1a1a1a;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 10px;
    
    
    p{
        color: white;
        font-size: 13px;
    }
   
}

.footerContener__adress{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footerContener__place{
    display: flex;
   
}
.footerContener__cel{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;  
}

.footerContener__atencion{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;  
}