.footerContainer{
    height: 20vh;
    background: linear-gradient(135deg, #000000, #1a1a1a, #2c3e50);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 10px;
    
    
    p{
        color: white;
        font-size: 13px;
    }
   
}

.footerContener__adress{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footerContener__place{
    display: flex;
   
}
.footerContener__cel{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;  
}

.footerContener__atencion{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;  
}