.nav{
    display: flex;
    flex-direction: column;
    display: none;
    
}
li{
    margin: 0 30px;
    padding: 0 10px;
    font-size: 1.2rem;
}

.nav li a{
    color : #fff;
    border: none;
    text-decoration: none;
}
@media screen and (min-width: 800px) {
        .nav{
            display: flex;
            flex-direction: row;
        }
  }