


  .Robot{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -10;
  }
  .Robot canvas{
    height: 100vh;
    overflow: hidden;
  }

@media (min-width: 568px) {
    .Robot {
        display: block;
        opacity: 1;
    }
}


