.Robot {
    position: absolute;
    right: 25vw;
    bottom: -30vh;
    width: 100%;
    display: none;
    font-size: 5rem;
    cursor: pointer;
}

@media (min-width: 568px) {
    .Robot {
        display: block;
        opacity: 1;
    
    }
}


