.footerContainer {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(10px);
    color: white;
    font-family: "Playfair Display", serif;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position:absolute;
    bottom: 0;
    width: 100%;
    p {
        color: white;
        font-size: 16px;
    }
}


.footerContener__adress {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footerContener__place {
    display: flex;
}

.footerContener__cel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footerContener__atencion {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
@media (min-width: 800px) {
    .footerContainer {
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        p {
            color: white;
            font-size: 20px;
        }
    }
}
