.header{
    position: fixed;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: white;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    z-index: 1000;
}

@media screen and (min-width: 800px) {
    .header{

    }
  }